.collage{
  display: grid;
}
@media (min-width: 990px){
  .collage{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(auto, 300px) 228px minmax(auto, 300px);
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (min-width: 1200px){
  .collage{
    grid-template-rows: minmax(auto,456px) 228px minmax(auto,456px);
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
@media (max-width: 989px){
  .collage{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
.collage__heading {
  font-family: "ITC Avant Garde Gothic Pro";
  margin-bottom: 1.5rem;
  font-size: 25px;
  line-height: 2rem;
}
@media (min-width: 1200px){
  .collage__heading{
    margin-bottom: 2.5rem;
    font-size: 37px;
    line-height: 50px;
  }
}
.collage__desc{
  margin-bottom: 1.5rem;
  line-height: 25px;
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}
@media (min-width: 990px){
  .collage__desc{
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.collage__link{
  display: inline-block;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  letter-spacing: 1px;
}
.collage__link.-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 990px){
  .collage__link.-black{
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12.8px;
    line-height: 17.48px;
  }
}
.collage__link.-underline{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-decoration-line: underline;
  text-underline-offset: 12px;
}
@media (min-width: 990px){
  .collage__link.-underline{
    font-size: 1rem;
    line-height: 1.5rem;
    text-underline-offset: 10px;
  }
}
.collage .icon-wrap{
  margin-left: 0.75rem;
  display: inline-block;
  vertical-align: middle;
}
.collage .icon-wrap svg{
  height: 1rem;
  width: 1rem;
}
.collage__item{
  position: relative;
}
@media (min-width: 990px){
  .collage__item{
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
  }
  .collage__item:nth-of-type(1){
    z-index: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }
  .collage__item:nth-of-type(1) .collage__content{
    padding-left: 68px;
    padding-right: 2rem;
  }
  .collage__item:nth-of-type(3){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
  }
  .collage__item:nth-of-type(3) .collage__content{
    padding-left: 3.5rem;
    padding-right: 7rem;
  }
}
.collage__product{
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 5px;
  bottom: 2.5rem;
}
@media (min-width: 990px){
  .collage__product{
    right: 2.5rem;
  }
}
.collage__product-info{
  display: none;
  padding-left: 11px;
}
@media (min-width: 990px){
  .collage__product-info{
    display: block;
    min-width: 150px;
  }
}
.collage__product-title{
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
}
.collage__product-price{
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}
.collage__product-image{
  display: block;
}
@media (min-width: 990px){
  .collage img{
    max-width: 100%;
  }
  .collage__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: minmax(auto,300px) 228px minmax(auto,300px);
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (min-width: 1200px){
  .collage__inner{
    grid-template-rows: minmax(auto,456px) 228px minmax(auto,456px);
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
@media (max-width: 989px){
  .collage__inner{
    position: relative;
    margin-bottom: -0.625rem;
    display: flex;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    overflow: auto;
    padding-left: 1.5rem;
  }
}
@media (min-width: 990px){
  .collage__inner .collage__item img{
    aspect-ratio: 600 / 684;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 989px){
  .collage__inner .collage__item > img,
.collage__inner .collage__item > a > img{
    margin-bottom: 0.625rem;
    aspect-ratio: 240 / 273;
    height: 273px;
    width: 15rem;
    max-width: none;
  }
}
@media (min-width: 990px){
  .collage__inner .collage__item:nth-of-type(1){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .collage__inner .collage__item:nth-of-type(2){
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
}
@media (max-width: 989px){
  .collage__inner::before{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-content: "";
    content: var(--tw-content);
  }
  .collage > div:nth-of-type(1),
.collage > div:nth-of-type(2),
.collage > div:nth-of-type(3){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}