.header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
@media (min-width: 990px) {
    .header {
        padding-top: 0px;
        padding-bottom: 0px
    }
}
.header__menu-link {
    transition-duration: 300ms
}
@media (min-width: 990px) {
    .header__menu-link {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}

.shopify-section-header-sticky .header__menu-link {
    padding-top: 2rem;
    padding-bottom: 2rem
}